.DS_Store
/.vscode/*
/serverEC/*
Graphics.*
/localtest/*
/Client/Atari/bin/*.asm
Client/Atari/bin/*.o 
Client/Atari/bin/debug.*
Client/Atari/bin/*.bas
Client/Atari/bin/*.lst
Client/Atari/bin/*.lbl
Client/Atari/bin/*.lst